/* --------------- VARIABLES --------------- */
.text-color-main { color: #ffffffff; }
.text-color-sec { color: #ffffffaa; }

/* --------------- BACKGROUNDS --------------- */
.trans-bg {
    background-color: rgba(255, 255, 255, 0.15);
}

.main-bg { background-color: var(--mud-palette-primary); }

.form-bg {
    background-color: #ddde;
}

.linear-gradient-bg {
    background: linear-gradient(to bottom, var(--mud-palette-secondary) 30%, var(--mud-palette-primary) 70% );
}

.radial-gradient-bg {
    background: radial-gradient(circle closest-corner at 50% 50%, var(--mud-palette-primary), var(--mud-palette-secondary));
}

.radial-gradient-bg-rev {
    background: radial-gradient(circle closest-corner at 50% 50%, var(--mud-palette-secondary), var(--mud-palette-primary));
}

/* --------------- CONTAINERS --------------- */
.container-main {
    height: 100vh;
    background: radial-gradient(circle closest-corner at 50% 50%, var(--mud-palette-secondary), var(--mud-palette-primary));
}

.container-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-scroll {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}

/* --------------- TEXT --------------- */
.value-header {
    text-decoration: underline;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.value-content {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    color: var(--mud-palette-tertiary);
}

.txt-header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    color: #ffffffff;
}


/* --------------- BUTTONS --------------- */
.btn-nav-active {
    color: var(--mud-palette-text-primary);
    text-decoration: underline;
    font-weight: bolder;
    font-size: 16px
}

    .btn-nav-active :hover {
        text-decoration: underline;
    }

/* --------------- ANIMATIONS --------------- */

/* --------------- IMAGES --------------- */
.img-icon { width: 32px; height: 32px; }
.img-small { width: 80px; height: 80px; }